<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To-Do</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/main.css" />
    
</head>
<body onload="display()">
    <h1>To-Do List</h1>
<div class="container">
  <div class="row">
      <input type="name" id="name" class="col-xs-8 col-sm-9" placeholder="What to you want to do today...?">
      <a href="" onclick="add()" class="button">ADD</a>
      <a href="" onclick="deleteall()" class="button3">CLEAR</a>
  </div> 
  <div class="containers">
    <p id="tasks"></p>
  </div>
</div>
<script src="main.js"></script>
</body>
</html>